BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
ColumnLimit: 90
UseTab: ForContinuationAndIndentation

AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: true
AlignConsecutiveMacros: AcrossEmptyLines
AlignAfterOpenBracket: BlockIndent
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Empty
BinPackArguments: true
BinPackParameters: true
ContinuationIndentWidth: 4
IncludeBlocks: Regroup
ReflowComments: true
