BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
ColumnLimit: 90
UseTab: Always
UseCRLF: false
#ContinuationIndentWidth: 4

AlignAfterOpenBracket: BlockIndent
#AlignArrayOfStructures: Right
AlignEscapedNewlines: Left
AlignConsecutiveMacros: AcrossEmptyLines
AlignOperands: AlignAfterOperator
AlignTrailingComments: true

AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty

AlwaysBreakAfterReturnType: None
BinPackArguments: true
BinPackParameters: false
BreakBeforeBinaryOperators: None

IncludeBlocks: Regroup
IndentPPDirectives: AfterHash
IndentWrappedFunctionNames: true

MaxEmptyLinesToKeep: 1
ReflowComments: true
SeparateDefinitionBlocks: Leave
SpacesBeforeTrailingComments: 2

ReferenceAlignment: Right
PointerAlignment: Right

PenaltyReturnTypeOnItsOwnLine: 64
